/* Presentation styles */

html,
body
{
	background-color: #DDD;
	font-color: #333;
	font-family: "Open Sans";
}

h1
{
	font-size: 5.0em;
	font-weight: bold;
}

h2
{
	font-size: 4.0em;
	font-weight: bold;
}